{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

  <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

  <p>Add a new entry:</p>
  <form method="post" action="{% url 'learning_logs:new_entry' topic.id %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mb-3">
        <button type="submit" name="submit" class="btn btn-primary">add entry</button>
        </div>
  </form>

{% endblock content %}